/*************
 * Global garbage
 * kill all CSS
 *************/


/*************
 * Dumb navbar styling
 *************/
nav.navbar
{ 
  border: none;
  background-color: #d7893f;
  font-family: 'Open Sans';
  font-weight: bold;
}
nav.navbar .navbar-right li
{ 
  text-align: center;
}

nav.navbar .navbar-right a
{ 
  color: #fff !important;
  width: 100%;
  text-align: center;  
}
nav.navbar .navbar-right a:hover
{ 
  color: #ccc !important;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus
{
  background-color: #bd7b3b !important;
}

nav.navbar .navbar-left .stompyblondie
{
  margin-top: 5px;
  height: 93px;
  width: 130px;
  background-image: url('../img/header_stompyblondie_logo.png');
  background-repeat: none;
  background-size: 128px 94px;
  position: absolute;
  z-index: 100;
}
nav.navbar .navbar-left .stompyblondie a
{
  height: 100%;
  width: 100%;
}

nav.navbar .navbar-collapse
{ 
  border-top: none;
}

.navbar-inverse .navbar-toggle
{ 
  border-color: #fff;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus
{
  background-color: #bd7b3b;
}

/*************
 * intro styling
 *************/
.intro-section
{
  height: 350px;
  padding-top: 110px;
  text-align: center;
  background: #fff;
}

.intro-section .container
{
  margin-bottom: 20px;
}

/*************
 * about styling
 *************/

.about-section
{
  padding: 40px 0;
  text-align: center;
  background: #eee;
}

.about-section a.screenshot img
{ 
  border: #aaa solid 1px;
}

.about-section .info
{ 
/*  padding-top: 10px;*/
}

@media (min-width: 768px)
{
  .about-section .info
  { 
  }
}

.about-section ul
{ 
  margin-top: 20px;  
}

.about-section .info p, .about-section li
{ 
  font-family: 'Open Sans';
  font-size: 16px
}

.about-section ul
{ 
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0;
}

.about-section li
{ 
  font-family: 'Open Sans';
  font-size: 16px
  webkit-border-radius: 10px;
  moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #777;
  color: #eee;
  margin: 10px;
  padding: 3px;
}

/*************
 * demo styling
 *************/

.demo-section
{
  padding: 40px 0;
  text-align: center;
  background: #fff;
}

/*************
 * media styling
 *************/

.media-section
{
  padding: 40px 0;
  text-align: center;
  background: #eee;
}

.media-section iframe
{
  width: 100%;
  height: 300px;
}

.media-section .gallery img
{
  margin: 5px;
  border: #aaa solid 1px;
}
.media-section .gallery a
{
  text-decoration: none;
}

.media-section .gallery
{
  padding-top : 10px;
}

/*************
 * contact styling
 *************/

.contact-section
{
  height: 220px;
  padding-top: 40px;
  text-align: center;
  background: #fff;
}

.contact-section p a
{
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
}

@media (min-width: 768px)
{
  .contact-section p a
  {
    font-size: 19px;
  }
  .contact-section
  {
    height: 150px;
  }
}

/*************
 * outro styling
 *************/

.outro-section
{ 
  padding: 40px 0;
  background: #eee;
}

.outro-section div.chips_wrap
{
  width: 100%;

}

.outro-section div.chips
{
  margin: 0 auto;
  height: 95px;
  width: 95px;
  background-image: url('../img/chips.png');
  background-repeat: no-repeat;
  background-size: 95px 95px;
  background-position : center, center; 
  padding-top : 85px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
}

@media (min-width: 768px)
{
  .outro-section div.chips
  {
    padding-top : 170px;
    width: 190px;
    height: 190px;
    background-size: 190px 190px;
  }
}

.outro-section div.chips_happy
{
  background-image: url('../img/chips_happy.png');
}

.outro-section div.chips_sad
{
  background-image: url('../img/chips_sad.png');
}

.outro-section a
{
  color: #df9652;
}




section#footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin-top: 30px;
}